{% extends 'base.html.twig' %}

{% block title %}Bonjour Bien-être{% endblock %}

{% block body %}

    <!-- ============================ Bandeau de Recherche ================================== -->
    <div class="image-cover hero-banner" style="background:url(/assets/img/bienetre2023logo.gif) no-repeat;"
         data-overlay="7">
        <div class="container">

            <h1 class="big-header-capt">Trouvez votre Bien-Être</h1>
            <div class="full-search-2 italian-search hero-search-radius">
                <div class="hero-search-content">

                    <form class="row" method="POST" action="{{ path('recherche') }}">
                        <div class="col-lg-4 col-md-4 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" name="nom" class="form-control b-r"
                                           placeholder="Nom du prestataire">
                                    <i class="ti-search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" name="localite" class="form-control b-r" placeholder="Localité">
                                    <i class="ti-target"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 small-padd">
                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="list-category" name="categorie" class="form-control">
                                        <option value="">&nbsp;</option>
                                        {% for categorie in categories %}
                                            <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                        {% endfor %}
                                    </select>
                                    <i class="ti-list"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-12 small-padd">
                            <div class="form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn search-btn">Recherche</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
    <!-- ============================ Fin de la recherche ================================== -->


    <!-- ============================ Début du slider de photos ============================ -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2>Vos photos populaires</h2>
                        <p>Les photos les plus appréciées.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="owl-carousel owl-theme" id="lists-slide">

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/855" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/855" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jacques Kirson</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/854" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/854" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jean Oui</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/853" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/853" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jack Pictureson</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/852" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/852" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jack Pictureson</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/851" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/851" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jack Pictureson</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <div class="modern-list ml-2">
                            <div class="grid-category-thumb">
                                <a href="https://picsum.photos/1200/850" class="mfp-gallery overlay-cate"><img
                                            src="https://picsum.photos/1200/850" class="img-responsive" alt=""/></a>
                                <div class="property_meta">
                                    <h4 class="lst-title"><a href="listing-detail.html">Jack Pictureson</a><span
                                                class="veryfied-author"></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- ============================ Fin du slider de photos ============================== -->

    <!-- ============================ Début Catégorie du mois ============================= -->
    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="col-lg-8 col-md-10">
                    <div class="sec-heading center">
                        <h2>Ce mois-ci :</h2>
                    </div>
                    {% for categorie in categories %}

                        {% if categorie.enavant == true %}

                            <i class="fas fa-bookmark"></i><span class="prt-type rent">Catégorie du mois</span>
                            <h2>Catégorie mise en avant : {{ categorie.nom }}</h2>
                            <a href="{{ path ("detailcategorie", {id:categorie.id}) }}">
                                <button type="button" class="btn btn-secondary">En savoir plus</button>
                            </a>
                            <br>
                            <br>

                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </section>
    <!-- ============================ Fin Catégorie du mois ============================= -->


    <!-- ============================ Début bandeau flèche ========================== -->
    <section class="theme-bg lttop-title">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center light mb-5">
                        <h2>Les 4 derniers prestataires inscrits</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="title__curve"></div>
    </section>
    <!-- ============================ Fin bandeau flèche =========================== -->


    <!-- ============================ Début boucle derniers prestataires =========================== -->


    <div class="container">
        <div class="row justify-content-center">
            <ul class="col-lg-8 col-md-10">
                <br>
                {% for prestataire in derniersPrestataires %}
                    <i class="fas fa-bookmark"></i>
                    <h3>Nom : {{ prestataire.nom }}</h3>
                    <p>Contact : {{ prestataire.emailcontact }} - {{ prestataire.numtel }}
                        - {{ prestataire.siteinternet }}</p>
                    <p>Numéro de TVA : {{ prestataire.numtva }} </p>
                    <a href="{{ path ("detailprestataire", {id:prestataire.id}) }}">
                        <button type="button" class="btn btn-warning">En savoir plus</button>
                    </a>
                    <br>
                    <br>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- ============================ Fin boucle derniers prestataires =========================== -->



    <!-- ============================ Début slider des prestataires ================================== -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <!-- <h2>New & featured Category</h2>
                         <p>Find new & featured category for you.</p>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="owl-carousel owl-theme" id="categorie-slide">

                    {% for prestataire in derniersPrestataires %}

                        <div class="list-cats-box">
                            <a href="{{ path ("detailprestataire", {id:prestataire.id}) }}" class="category-box">
                                <div class="category-desc">
                                    <div class="category-icon">
                                        <img src="{{ asset('/pictures/'~prestataire.photo.image) }}" class="img-fluid mx-auto" alt=""/>
                                        <i class="lni-arrow-right abs-icon"></i>
                                    </div>

                                    <div class="category-detail category-desc-text">
                                        <h4>{{ prestataire.nom }}</h4>
                                        {% for categorie in prestataire.proposer %}
                                            <p>{{ categorie.nom }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
    <!-- ============================ Fin slider des prestataires ================================== -->

    <!-- ============================ Début bandeau liste prestataires ================================== -->
    <section class="theme-bg call-to-act">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-9 col-md-8">
                    <div class="clt-caption">
                        <h3>Vous en voulez encore ?</h3>
                        <p>Retrouvez l'ensemble des prestataires qui œuvrent à votre bien-être.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="{{ path('tousprestataires') }}" class="btn btn-md btn-light clt-act">Tous les
                        prestataires<i class="lni-shift-right ml-2"></i></a>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Fin bandeau liste prestataires ================================== -->




    {#   <!-- ============================ Listing Ctegory Start ================================== -->
    <section class="gray-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2>Les derniers inscrits</h2>
                        <p>Des prestataires à votre service.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="owl-carousel owl-theme" id="lists-slide">

                    {% for prestataire in derniersPrestataires %}

                    <!-- Single List -->
                    <div class="list-slide-box">
                        <a class="single-moderns-category " href="{{ path ("detailprestataire", {id:prestataire.id}) }}">
                            <figure>
                                <img src="https://via.placeholder.com/1200x850" title="" alt="">
                                <figcaption class="overlay-bg">
                                    <div class="cat-box">
                                        <div class="icon">
                                            <span class="ti-alarm-clock"></span>
                                        </div>
                                        <div class="cat-info">
                                            <h4 class="cat-name">{{ prestataire.nom }}</h4>
                                            <span class="badge badge-pill theme-bg">Détails</span>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
    <!-- ============================ Listing Category End ================================== -->
    #}


{% endblock %}
