{% extends 'base.html.twig' %}

{% block title %}Tous les Prestataires !{% endblock %}

{% block body %}

    <div class="container">

        <h2>Tous les Prestataires</h2>
        <ul>
            {% for prestataire in prestataires %}
                <i class="fas fa-bookmark"></i>
                <h3>Nom du prestataire : {{ prestataire.nom }}</h3>
                <p>Contact : {{ prestataire.emailcontact }} - {{ prestataire.numtel }} - {{ prestataire.siteinternet }}</p>
                <p>Numéro de TVA : {{ prestataire.numtva }} </p>
                <a href="{{ path ("detailprestataire", {id:prestataire.id}) }}"><button type="button" class="btn btn-secondary">En savoir plus</button></a>

                <br>
                <br>

            {% endfor %}
        </ul>
    </div>

{% endblock %}
