{% extends 'base.html.twig' %}

{% block title %}Liste des promotions actives{% endblock %}

{% block body %}

    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Toutes les promotions</h2>
                    <span class="ipn-subtitle">Le bien-être à votre portée.</span>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <ul>
            {% for promotion in promotions %}
                {% if promotion.affichagede <= date('today') and promotion.affichagejusque >= date('today') %}
                    <span class="prt-type rent">Offre activée</span>
                    <h3><i class="fas fa-star"></i> Promotion : {{ promotion.nom }}</h3>
                    <p>{{ promotion.description }} chez notre partenaire {{ promotion.prestataire.nom }}.</p>
                    <p>Promotion valable à partir du {{ promotion.debut|date('d/m/Y') }}
                        jusqu'au {{ promotion.fin|date('d/m/Y') }}.</p>
                    <a href="{{ path ("detailprestataire", {id:promotion.prestataire.id}) }}">
                        <button type="button" class="btn btn-primary">Page du partenaire</button>
                    </a>

                    <br>
                    <br>

                    {% else %}
                        <br>
                        <h4><i class="fas fa-circle"></i> Trop tard : {{ promotion.nom }}</h4>
                        <p>{{ promotion.description }} chez notre partenaire {{ promotion.prestataire.nom }}.</p>
                        <p>Promotion valable à partir du {{ promotion.debut|date('d/m/Y') }}
                            jusqu'au {{ promotion.fin|date('d/m/Y') }}.</p>
                        <a href="{{ path ("detailprestataire", {id:promotion.prestataire.id}) }}">
                            <button type="button" class="btn btn-secondary">Page du partenaire</button>
                        </a>
                        <br>
                        <br>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
