{% extends 'base.html.twig' %}

{% block title %}Informations de la catégorie de service {{ categorie.nom }}{% endblock %}

{% block body %}
<section class="image-cover hero-banner" style="background:url(https://picsum.photos/1920/1000) no-repeat;"
         data-overlay="6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="loving-modern-login">
                <h2>{{ categorie.nom }} </h2>
                <p>Description : {{ categorie.description }}</p>
                <a href="{{ path('modifiercategorie', {id: categorie.id}) }}">
                    <button type="button" class="btn btn-info">Modifier la catégorie</button>
                </a>
                <a href="{{ path('supprimercategorie', {id: categorie.id}) }}">
                    <button type="button" class="btn btn-danger">Supprimer la catégorie</button>
                </a>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
