{% extends 'base.html.twig' %}

{% block title %}Informations de la catégorie de service {{ categorie.nom }}{% endblock %}

{% block body %}



<section class="image-cover hero-banner" style="background:url(https://picsum.photos/1920/1000) no-repeat;"
         data-overlay="6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="loving-modern-login">
                <h2>{{ categorie.nom }} </h2>
                <p>Description : {{ categorie.description }}</p>
                    {% if is_granted('ROLE_ADMIN') == true %}
                <a href="{{ path('modifiercategorie', {id: categorie.id}) }}">
                    <button type="button" class="btn btn-info">Modifier la catégorie</button>
                </a>
                <a href="{{ path('supprimercategorie', {id: categorie.id}) }}">
                    <button type="button" class="btn btn-danger">Supprimer la catégorie</button>
                </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>
    <section class="theme-bg lttop-title">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center light mb-5">
                        <h3>Liste des Prestataires présents dans la catégorie {{ categorie.nom }} :</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="title__curve"></div>
    </section>
    <section>

        <div class="container">
            <br>
            <ul>
                {% for prestataire in prestataires %}
                    <i class="fas fa-bookmark"></i>
                    <h4>Nom du prestataire : {{ prestataire.nom }}</h4>
                    <p>Contact : {{ prestataire.emailcontact }} - {{ prestataire.numtel }} - {{ prestataire.siteinternet }}</p>
                    <p>Numéro de TVA : {{ prestataire.numtva }} </p>
                    <a href="{{ path ("detailprestataire", {id:prestataire.id}) }}"><button type="button" class="btn btn-warning">En savoir plus</button></a>
                    <br>
                    <br>

                {% endfor %}
            </ul>
        </div>

    </section>


{% endblock %}
