{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories de service !{% endblock %}

{% block body %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Toutes les catégories de service</h2>
                    <span class="ipn-subtitle">Une liste qui vous aidera à trouver votre bien-être.</span>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <ul class="col-lg-8 col-md-10">
                <br>
                {% for categorie in categories %}

                    {% if categorie.enavant == true %}
                        <div class="verticleilist listing-shot">



                            <i class="fas fa-bookmark"></i><span class="prt-type rent">Catégorie du mois</span>

                            <div class="signle-vert-listing-item">
                                <div class="listing-items">
                                    <div class="listing-shot-img">
                                        <img src="{{ asset('/pictures/'~categorie.images.image) }}"
                                             class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <h3>Catégorie mise en avant : {{ categorie.nom }}</h3>


                            <a href="{{ path ("detailcategorie", {id:categorie.id}) }}">
                                <button type="button" class="btn btn-warning">En savoir plus</button>
                            </a>
                        </div>
                        <br>
                        <br>

                    {% endif %}
                {% endfor %}

                {% for categorie in categories %}

                    {% if categorie.enavant == false %}

                        <i class="fas fa-bookmark"></i>
                        <h4>Catégorie de service : {{ categorie.nom }}</h4>
                        <a href="{{ path ("detailcategorie", {id:categorie.id}) }}">
                            <button type="button" class="btn btn-secondary">En savoir plus</button>
                        </a>
                        {# <a href="{{ path ("detailcategorie", {id:categorie.id}) }}">
                    <button type="button" class="btn btn-secondary">{{ categorie.nom }}</button>
                </a> #}

                        <br>
                        <br>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
