{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie de service{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <ul class="col-lg-8 col-md-10">
                <h2>Modifier la catégorie de service : {{ categorie.nom }}</h2>

                {{ form_start(form) }}

                {{ form_row(form.nom) }}

                {{ form_row(form.description) }}

                {{ form_widget(form.enavant) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}


